body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #003366;
}

.carousel-caption h3 {
  font-size: 2rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
}